    <!-- HERO  -->
<div class="hero-container">
  <img class="hero" src="hero.webp" alt="Hero AT">
  <div class="quote bottom-left">“Build tension in silence or subtlety, then strike with impact.”</div>
  <div class="quote top-right">“Silence, distortion, or unexpected tones can be used strategically to shape perception or mood.”</div>
</div>

    <!-- PRODOTTI -->
 <app-products></app-products>
    <!-- DESIGN & TECNOLOGIA -->
 <app-design-tech></app-design-tech>
    <!-- TESTIMONIANZE -->
 <app-reviews></app-reviews>

