.design-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.tech-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}
.design-pic{
    align-items: flex-start;
}
.tech-pic{
  align-items: flex-end;
}
